<h1>Orders for <%= @user.name %></h1>

<% @user.orders.each do |order| %>
  <h3><%= order.id %></h3>

  <h3><%= link_to "#{order.id}", "/admin/users/#{order.user.id}/orders/#{order.id}" %></h3>
<% end %>
