<h1>Orders for <%= @user.name %></h1>

<table>
  <tr>
    <th>Order ID</th>
    <th>Date</th>
  </tr>
  <% @user.orders.each do |order| %>
    <tr>
      <td><%= link_to "#{order.id}", "/admin/users/#{order.user.id}/orders/#{order.id}" %></td>
      <td><%= order.created_at %>
    </tr>
  <% end %>
</table>
