<section class='homepage'>
  <%= audio_tag("003 Deep in the Caribbean.ogg", controls: true, autoplay: true) %>
  <h1>Ahoy, me hearties! Be ye welcome to Treasure Trove.</h1>

  <p>League chase line sloop parrel strike colors tackle Jolly Roger Jack Tar hulk.
    Grog blossom piracy long clothes topmast chantey grapple lad gangway list weigh anchor.
    Pink draft sloop gibbet fire ship Nelsons folly draught no prey, no pay Jolly Roger brig.
  </p>

  <p>Careen ho smartly Yellow Jack boom hang the jib furl spike log skysail.
    Me rum deadlights holystone pirate grog blossom gunwalls hardtack fathom mutiny.
    Hogshead spike Admiral of the Black hands provost cutlass hail-shot loaded to the gunwalls swing the lead matey.
  </p>

  <p>Dead men tell no tales Pirate Round hearties nipperkin jolly boat poop deck weigh anchor swab driver hulk.
    Heave down aye fire in the hole brig pressgang pink transom run a rig bilge scourge of the seven seas.
    Loaded to the gunwalls ahoy spirits walk the plank jolly boat no prey, no pay tender killick yo-ho-ho hogshead.
  </p>
</section>
