<h1>Your Items</h1>

<nav id="page-actions">
  <%= link_to "Add New Item", "/merchant/items/new" %>
</nav>

<%= render partial: "partials/items_index", locals: { items: @merchant.items, merchant_view: true } %>
