/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),
              url('https://i.pinimg.com/originals/f3/80/92/f38092d2933f59ce7526d501493b22fb.jpg');
  background-attachment: fixed;
  font-family: 'IM Fell English', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: #002244;
  align-self:stretch;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

nav * {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
}

#site-title {
  font-family: 'Princess Sofia', cursive;
  font-size: 2em;
  flex: none;
  border-radius: 0px;
}

#login-message {
  font-size: .7em;
  justify-content: flex-end;
  border-left: 1px solid white;
  padding-top: 0px;
  padding-bottom: 0px;
}

nav a:hover {
  background-color: white;
  color: #002244;
  border-radius: 5px;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-actions {
  background-color: white;
  border: 2px solid #002244;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
}

#page-actions * {
  color: #002244;
}

h1 {
  font-family: 'Princess Sofia', cursive;
  text-align: center;
  font-size: 3em;
  color: #002244;
}

ul {
  padding: 0px;
}

img {
  width: 50%;
}

#cart-image {
  width: 50px;
  height: auto;
}

section {
  background-color: white;
  border: 2px solid #002244;
  padding: 2em;
  margin-bottom: 1em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-evenly;
  min-width: 60%;
}

.invisible-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-evenly;
  min-width: 60%;
  background: none;
  border: none;
}

.flex-row div {
  margin-right: 3em;
}

#most-least-popular-items {
  min-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
}

#item-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box {
  padding: 1.5em;
  margin: 1em;
  min-width: 60%;
  width: 80%;
  height: 325px;
  display: flex;
  flex-direction: row;
}

.item-image-link a, img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.item-box h2 {
  margin-top: 0em;
}

.item-box a {
  color: black;
}

.item-content {
  margin-left: 1.5em;
}

.item-controls {
  display: flex;
  flex-direction: row;
}

.item-controls * {
  margin-right: .75em;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#modify-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
}

.discounted {
  color: green;
}

input[type=submit] {
  background-color: #002244 ;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
  color: #002244;
}

form:not(#inline-form) {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid #002244;
  padding: 2em;
  margin-bottom: 1em;
  min-width: 40%;
  max-width: 90%;
}

.error-flash {
  padding: 10px;
  background-color: red;
  color: white;
}

.success-flash {
  padding: 10px;
  background-color: green;
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: white;
  border: 2px solid #002244;
  width: 100%;
  margin-bottom: 1em;
}

td, th {
  border: 1px solid #f2f2f2;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #F0F8FF;
}

.homepage {
  font-size: 1.25em;
}

footer {
  width: fit-content;
  background-color: white;
  border: 2px solid #002244;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
}

footer * {
  padding-right: 1em;
}

footer:last-child {
  padding-right: 0px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: .75em;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  table {
    font-size: .6em;
    width: 100%;
    align-self: center;
  }

  .flex-row {
    width: 95%;
  }

  form {
    width: 95%;
  }

  header {
    font-size: .9em;
  }

  navbar {
    font-size: .9em;
  }

  main {
    width: 90%;
  }

  section {
    width: 90%;
  }

  .item-box {
    flex-direction: column;
    height: auto;
  }

  .item-image-link a, img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1em;
  }
}
